<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Services
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onShowNewServiceSidebar="showNewServiceSidebar"
            :buttons="headerButtons"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <service-datatable :key="servicesDatatableKey"
                                       @onOpenSidebarService="openSidebarService"/>
                </b-col>
            </b-row>
        </b-container>

        <octo-sidebar-right
            @onHidden="showSidebar = false"
            @onSaveService="saveService"
            @onDeleteService="deleteService"
            :title="titleSidebar"
            :show-sidebar="showSidebar"
            :buttons="sidebarButtons"
        >
            <service-form
                ref="serviceForm"
                :languages="settings.languages"
                :key="serviceInfoKey"
                :service="currentService"
            />

        </octo-sidebar-right>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import Service from "../models/service";
    import ServiceDatatable from "../datatables/ServiceDatatable";
    import ServiceForm from "../forms/ServiceForm";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "ServicesView",
        components: {ServiceForm, OctoSidebarRight, ServiceDatatable, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Nuovo Servizio',
                        onClick: 'onShowNewServiceSidebar',
                        icon: 'plus'
                    },
                ],
                showSidebar: false,
                titleSidebar: 'Nuovo',
                currentService: Service,
                servicesDatatableKey: 1,
                serviceInfoKey: 1,
                sidebarButtons: [],
                settings: {}
            }
        },

        methods: {
            showNewServiceSidebar: function () {
                this.titleSidebar = 'nuovo Servizio';
                this.currentService = this.$_.cloneDeep(Service);
                this.showSidebar = true;
                this.sidebarButtons = [{
                    label: 'salva',
                    onClick: 'onSaveService',
                    icon: 'floppy-disk',
                }];
                this.serviceInfoKey++;
            },
            openSidebarService: function (item) {
                this.currentService = this.$_.cloneDeep(item);
                this.titleSidebar = this.currentService.name;
                this.showSidebar = true;
                this.sidebarButtons = [
                    {
                        label: 'salva',
                        onClick: 'onSaveService',
                        icon: 'floppy-disk',
                    },
                    {
                        label: 'elimina',
                        onClick: 'onDeleteService',
                        icon: 'delete',
                        styleBtn: 'secondary-button',
                        confirmData: {
                            title: 'Conferma Eliminazione',
                            message: 'Vuoi eliminare il servizio?'
                        },
                    }
                ];
                this.serviceInfoKey++;
            },
            saveService: function () {
                if (this.$refs.serviceForm.validate()) {
                    this.$fullLoading.show();

                    this.currentService.tags = this.$refs.serviceForm.getServiceTags();

                    this.$api({
                        method: this.currentService.id ? 'put' : 'post',
                        url: this.currentService.id
                            ? routes.SERVICE_UPDATE.replace('{id}', this.currentService.id)
                            : routes.SERVICE_STORE,
                        data: this.currentService
                    }).then(() => {
                        this.servicesDatatableKey++;
                        this.showSidebar = false;
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Servizio salvato correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                    }).catch((err) => {
                        this.$fullLoading.hide();
                        this.$errorMessageHandler.display(err);
                    });
                }
            },

            deleteService() {
                this.$fullLoading.show();
                this.$api.delete(routes.SERVICE_DELETE.replace('{id}', this.currentService.id))
                    .then(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Servizio cancellato correttamente', {
                            title: 'Saving...',
                            variant: 'success'
                        });
                        this.servicesDatatableKey++;
                        this.showSidebar = false;
                    })
                    .catch(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Servizio non cancellato', {
                            title: 'Saving...',
                            variant: 'danger'
                        });
                    })
            }
        },
        mounted() {
            this.settings = this.$localStorage.getSettings();
        }
    }
</script>

<style scoped lang="scss">

</style>
