<template>
    <div>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12">
                    Services settings
                </b-col>
            </b-row>
        </b-container>
        <octo-header-button
            @onSaveSettings="saveSettings"
            :buttons="headerButtons"/>
        <b-container fluid class="mb-2">
            <b-row>
                <b-col cols="12" class="mt-3">
                    <service-setting-form :languages="settings.languages"
                                          :settings="localSettings"/>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import {routes} from "../routes";
    import ServiceSetting from "../resources/serviceSetting";
    import ServiceSettingForm from "../forms/ServiceSettingForm";
    import OctoHeaderButton from "@octoCmsComponents/octo-header-buttons/OctoHeaderButton";
    import OctoSidebarRight from "@octoCmsComponents/octo-sidebar-right/OctoSidebarRight";

    export default {
        name: "SettingsView",
        components: {ServiceSettingForm, OctoSidebarRight, OctoHeaderButton},
        data() {
            return {
                headerButtons: [
                    {
                        label: 'Salva',
                        onClick: 'onSaveSettings',
                        icon: 'floppy-disk'
                    },
                ],
                localSettings: ServiceSetting,
                settings: {},
            }
        },

        methods: {
            saveSettings: function () {
                this.$fullLoading.show();

                this.$api.post(routes.CONFIG_SETTINGS_POST, {
                    name: "module_services",
                    value: this.localSettings,
                }).then((resp) => {
                    this.$fullLoading.hide();
                    this.$localStorage.setSettingsByName(resp.data.data.name, resp.data.data.value);
                    this.$bvToast.toast('Impostazioni aggiornate', {
                        title: 'Saving...',
                        variant: 'success'
                    });
                })
                    .catch(() => {
                        this.$fullLoading.hide();
                        this.$bvToast.toast('Impostazioni non aggiornate', {
                            title: 'Saving...',
                            variant: 'danger'
                        });
                    });
            },
        },
        beforeMount() {
            this.settings = this.$localStorage.getSettings();
            this.localSettings = this.settings.module_services
                ? this.$_.cloneDeep(this.settings.module_services)
                : this.$_.cloneDeep(ServiceSetting);
        }
    }
</script>

<style scoped lang="scss">

</style>
