S<template>
    <b-container>
        <b-row>
            <b-col cols="12" class="mb-3">
                Gestisci i contenuti riguardo a questo servizio.
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12"
                   class="mb-3"
                   v-for="(picture, tag) in settings.module_services.pictures"
                   v-bind:key="tag"
            >
                <octo-image-entity
                    :picture="getPictureLocal(tag)"
                    :tag="tag"
                    :key="octoImageEntityKey"
                    @onSaveImage="saveImage"
                />
            </b-col>
        </b-row>
        <b-row class="align-items-center">
            <b-col cols="7">
                <octo-input
                    name="icon"
                    v-model="serviceLocal.icon"
                    prepend="icon"
                />
            </b-col>
            <b-col cols="5">
                <div class="d-flex justify-content-between align-items-center">
                    <div>Active</div>
                    <b-form-checkbox v-model="serviceLocal.active" name="keyboard" switch/>
                </div>
            </b-col>

            <b-col cols="12" class="mt-3">
                <octo-tag-manager
                    ref="octoTagManager"
                    :group="group"
                    :selected-tags="serviceLocal.tags"
                />
            </b-col>
        </b-row>

        <b-row>
            <b-col cols="12" class="mt-3">

                <octo-lang-selector :current-lang="currentLang"
                                    @onChangeLanguage="changeLanguage"/>
                <div v-for="(serviceLang, index) in serviceLocal.serviceLangs"
                     v-bind:key="index">
                    <div class="flex-grow-1" v-if="currentLang === serviceLang.lang">
                        <octo-input
                            class="flex-grow-1"
                            :name="`name-${serviceLang.lang}`"
                            v-model="serviceLang.name"
                            label="Name"
                            :error="errors['name-' + serviceLang.lang]"
                            @input="errors['name-' + serviceLang.lang] = false"
                        />
                        <div>
                            <octo-text-area
                                class="mt-3"
                                :name="`description-${serviceLang.lang}`"
                                v-model="serviceLang.description"
                                label="Description"
                            />
                        </div>
                    </div>
                </div>
            </b-col>
        </b-row>

    </b-container>
</template>

<script>
    import Service from "../models/service";
    import ServiceLang from "../models/serviceLang";
    import Picture from "@octoCmsComponents/models/picture";
    import tagGroups from "@octoCmsComponents/octo-tag-manager/resources/tagGroups";
    import OctoInput from "@octoCmsComponents/octo-input/OctoInput";
    import OctoTextArea from "@octoCmsComponents/octo-text-area/OctoTextArea";
    import OctoLangSelector from "@octoCmsComponents/octo-lang-selector/OctoLangSelector";
    import OctoImageEntity from "@octoCmsComponents/octo-image-entity/OctoImageEntity";
    import OctoTagManager from "@octoCmsComponents/octo-tag-manager/OctoTagManager";

    export default {
        name: "ServiceForm",
        components: {OctoTagManager, OctoImageEntity, OctoLangSelector, OctoTextArea, OctoInput},
        data() {
            return {
                serviceLocal: Service,
                currentLang: '',
                octoImageEntityKey: 1,
                group: tagGroups.SERVICE,
                settings: {},
                errors: {},
            }
        },
        props: {
            service: {
                type: Object,
                default: () => Service
            },
            languages: {
                type: Array,
                default: () => []
            },
        },
        methods: {
            changeLanguage(language) {
                this.currentLang = language;
            },

            saveImage(item) {
                const pictureIndex = this.$_.findIndex(this.serviceLocal.pictures, (picture) => {
                    return picture.tag === item.tag
                });

                if (pictureIndex !== -1) {
                    this.$set(this.serviceLocal.pictures, pictureIndex, item);
                } else {
                    this.serviceLocal.pictures.push(item);
                }

                this.octoImageEntityKey++;
            },

            getPictureLocal(tag) {
                const picture = this.$_.find(this.serviceLocal.pictures, (item) => {
                    return item.tag === tag
                }) || this.$_.cloneDeep(Picture);

                picture.tag = tag;

                return picture;
            },

            getServiceTags: function () {
                return this.$refs.octoTagManager.getEntityTags();
            },
            validate() {
                this.errors = {};

                this.$_.each(this.serviceLocal.serviceLangs, item => {
                    if (item.name === '') {
                        this.currentLang = item.lang;
                        this.errors['name-' + item.lang] = true;
                    }
                });

                return this.$_.isEmpty(this.errors);
            },
        },
        beforeMount() {
            this.serviceLocal = this.service;
            this.settings = this.$localStorage.getSettings();
        },
        mounted() {
            this.$completeLangs(
                this.serviceLocal.serviceLangs,
                ServiceLang,
                this.serviceLocal.id,
                'service_id'
            );

            this.changeLanguage(this.settings.locale);
        },
    }
</script>

<style scoped lang="scss">

</style>
