<template>
    <octo-table
        :action="routes.DATATABLES.services"
        :fields="fields"
        :filters="filters"
        :show-filters="true"
        name="ServiceDataTable"
    >
        <template v-slot:cell(id)="data">
            <div>{{data.item.id}}</div>
        </template>

        <template v-slot:cell(status)="data">
            <octo-icon :icon="data.item.active ? 'tick' : 'wrong'"/>
        </template>

        <template v-slot:cell(name)="data">
            {{$langLabel(data.item.serviceLangs, 'name')}}
        </template>

        <template v-slot:cell(actions)="data">
            <div class="mx-2" v-on:click="$emit('onOpenSidebarService', data.item)">
                <octo-icon icon="open-folder"/>
            </div>
        </template>
    </octo-table>
</template>

<script>
    import OctoTable from "@octoCmsComponents/octo-table/OctoTable";
    import OctoIcon from "@octoCmsComponents/octo-icon/OctoIcon";
    import {routes} from "../routes";

    export default {
        name: "ServiceDatatable",
        components: {OctoIcon, OctoTable},
        data() {
            return {
                routes: routes,
                filters: {},
                fields: [
                    {key: 'id', label: 'ID', class: 'text-center'},
                    {key: 'name', label: 'Nome', class: 'text-left'},
                    {key: 'status', label: 'Stato', class: 'text-center'},
                    {key: 'actions', label: '', class: 'text-right'},
                ]
            }
        },
    }
</script>

<style scoped>

</style>
